PORT=3000
KEY=6JVJ8CNW7NMW2FBHMB84344G1FE4VL
PRIVATE=8W5pfb0ptu6yDZlSJenQPsE01c1PaN76KTibj7a0Mx
GCP_URL=https://papiconnector.all-ingame.com/api/casino/
REDIS_URL=redis://localhost:6379
BASE_URL=http://localhost:3000
RETURN_URL=http://localhost:3001/casino 